@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

textarea {
  width: 100%;
  height:100vh;
}
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/gradient_bg.png');
  }
  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  }

body {
   background-image: url('../images/gradient_bg.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}



.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}


h1, h2, p, h3{
    color: #FFF;
}



.wifi{
    color: white;
}
.banner{
    position:relative;
    margin:0;
    padding:0;
	width: 100%;
}

.banner-small{
    display: none;
    position:relative;
    margin:0;
    padding:0;
	width: 100%;
}

.caption p{
    color: black;
}

#indexpic{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin-top: 5%;
}

.centerBlock {
  display: table;
  margin: auto;
}

.nav-tabs > li > a{
    color: #8c3e1d !important;
}

#spam {
  background: repeating-linear-gradient(45deg, darkred, darkred 2px, #330000 3px, #330000 8px);
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none; 
  border-radius: 5px;
  margin: auto;
  width: 85%;
  
}

#access {
  padding-top: 30px;
  font-size: 60px;
  font-family: Arial;
  text-align: center;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
  padding-bottom: 20px;
}
spam {
   color: red;
   text-decoration: none;
   cursor: not-allowed;
   
}

#accessp {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .linkimg{
        max-width: 100%;
        max-height: 100%;
      }
}

@media (max-width: 768px) {
   .gif{
       height: 130px;
   }
    .banner{
     display: none;
   }

   .banner-small{
     display: block;
   }

   .linkimg{
    max-width: 100%;
    max-height: 100%;
   }

   h1{
       font-size: large;
       font-weight: bold;
   }

   h2{
       font-size: large;
       font-weight: bold;
   }

   p{
       font-size: small;
   }

   .container{
       padding: 30px !important;
   }
}

